<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>DCPM-Création de ticket</title>
    <meta name="description" content="A DCPM/trello client interface">
    <meta name="author" content="Dany CORBINEAU">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.min.js"></script>
</head>

<body>
    <div id="header">
        <dcpm-header></dcpm-header>
    </div>
    <div class="container">
        <form  id="formproject" @submit="checkFormTicket" action="#" method="post">
            <div class="alert alert-danger" v-if="errors.length" role="alert">
                <b>Vous avez une ou des erreurs dans le formulaire :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="name">Nom du ticket</label>
                <input name="name" v-model="name" type="text" class="form-control" id="name" placeholder="mon ticket">
            </div>
            <div class="form-group">
                <label for="desc">Description</label>
                <input name="desc" v-model="desc" type="text" class="form-control" id="desc" placeholder="mon premier ticket">
            </div>
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
    </div>

    <script src="js/scripts.js" type="module"></script>
    <script src="js/ticket-create.js" type="module"></script>
</body>

</html>