<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">

    <title>DCPM-Tickets</title>
    <meta name="description" content="A DCPM/trello client interface">
    <meta name="author" content="Dany CORBINEAU">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">


    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="header">
        <dcpm-header></dcpm-header>
    </div>
    <section id="ticket-list-body">
        <ul class="nav justify-content-center" id="ticket-tab">
            <li v-for="tab in tabs" class="nav-item" v-on:click="changeList($event, tab.menu.id)">
                <a class="nav-link" :class="tab.menu.active" :href="tab.menu.id">{{ tab.menu.name }}</a>
            </li>
        </ul>
        <div class="tab-content" id="tabs-content">
            <div v-for="tab in tabs" :id="tab.ticketList.id" class="tab-pane" :class="tab.ticketList.active">
                <div class="container">
                    <div class="row" v-if="right.ticket.create">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-success" onclick="newTicket()">Nouveau Ticket</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 card" v-for="ticket in tab.ticketList.tickets">
                            <div class="card-body">
                                <h5 class="card-title">{{ ticket.name }} <button type="button" class="btn btn-warning"
                                        v-on:click="editTicket($event, ticket.id)" v-if="right.ticket.edit"><i class="fas fa-pen"></i></button></h5>
                                <p class="card-text">{{ ticket.desc }}</p>
                                <button type="button" class="btn btn-primary" v-on:click="moveTicketBack($event, ticket.id)"
                                    v-if="right.ticket.edit"><i class="fas fa-arrow-left"></i></button>
                                <button type="button" class="btn btn-primary" v-on:click="moveTicketNext($event, ticket.id)"
                                    v-if="right.ticket.edit"><i class="fas fa-arrow-right"></i></button>
                                <span class="badge badge-info">Activité : {{
                                    ticket.dateLastActivity.toLocaleDateString() }}</span>
                                <button v-if="right.ticket.delete" data-toggle="modal" data-target="#deleteModal"
                                    class="btn btn-danger" v-on:click="changeToDelState($event, ticket.id)"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModelLabel">Supprimer le ticket?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="removeAllDelState($event)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="removeAllDelState($event)">Non</button>
                            <button type="button" class="btn btn-success" v-on:click="deleteTicket($event)">Oui</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/scripts.js" type="module"></script>
    <script src="ticket-list.js" type="module"></script>
</body>

</html>