.project-blue {
    background-color: #aaf;
} 
.project-orange {
    background-color: #fda;
}
.project-green {
    background-color: #afa;
} 
.project-red {
    background-color: #faa;
}
.project-purple {
    background-color: #faf;
} 
.project-pink {
    background-color: #f5b;
}
.project-lime {
    background-color: #aaa;
}
.project-sky {
    background-color: #ddf;
} 
.project-grey {
    background-color: #666;
}