<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">

    <title>DCPM-Projects</title>
    <meta name="description" content="A DCPM/trello client interface">
    <meta name="author" content="Dany CORBINEAU">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="project-list.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="header">
        <dcpm-header></dcpm-header>
    </div>
    <div class="container" id="list-project">
        <div class="row" v-if="right.project.create">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" id="new-project-button" v-on:click="createProject($event)">Nouveau projet</button>
            </div>
        </div>
        <div class="row" >
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 card" v-for="project in projects" :class="project.color">
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }} <button type="button" class="btn btn-warning" v-if="right.project.edit" v-on:click="editProject($event, project.id)"><i class="fas fa-pen"></i></button></h5>
                    <p class="card-text">{{ project.desc }}</p>
                    <button v-if="right.ticket.show" class="btn btn-primary" v-on:click="showProject
                    ($event, project.id)">Go</button>
                    <span class="badge badge-info">Activité : {{ project.dateLastActivity.toLocaleDateString() }}</span>
                    <button v-if="right.project.delete" class="btn btn-danger" v-on:click="changeToDelState
                    ($event, project.id)" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModelLabel">Supprimer le projet?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="removeAllDelState($event)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="removeAllDelState($event)">Non</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal" v-on:click="closeAllDelState($event)">Fermer le projet</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" v-on:click="deleteProject($event)">Oui</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/scripts.js" type="module"></script>
    <script src="project-list.js" type="module"></script>
</body>

</html>