<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>DCPM-Création de projet</title>
    <meta name="description" content="A DCPM/trello client interface">
    <meta name="author" content="Dany CORBINEAU">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="header">
        <dcpm-header></dcpm-header>
    </div>
    <div class="container">
        <form  id="formproject" @submit="checkFormProject">
            <div class="alert alert-danger" v-if="errors.length" role="alert">
                <b>Vous avez une ou des erreurs dans le formulaire :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="name">Nom du projet</label>
                <input name="name" v-model="name" type="text" class="form-control" id="name" placeholder="mon projet">
            </div>
            <div class="form-group">
                <label for="desc">Description</label>
                <input name="desc" v-model="desc" type="text" class="form-control" id="desc" placeholder="mon premier projet sur dcpm">
            </div>
            <div class="form-group">
                <label for="color">Couleur</label>
                <select name="color" v-model="color" class="form-control" id="color">
                    <option value="" selected disabled hidden>Choisir une couleur</option>
                    <option value="blue">Bleu</option>
                    <option value="orange">Orange</option>
                    <option value="green">Vert</option>
                    <option value="red">Rouge</option>
                    <option value="purple">Violet</option>
                    <option value="pink">Rose</option>
                    <option value="lime">Lime</option>
                    <option value="sky">Ciel</option>
                    <option value="grey">Gris</option>
                  </select>
            </div>
            <button type="submit" class="btn btn-primary" id="create-project">Créer</button>
        </form>
        <div class="modal fade" id="confirmeModal" tabindex="-1" role="dialog" aria-labelledby="confirmeModelLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmeModelLabel">{{ message }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/scripts.js" type="module"></script>
    <script src="project-create.js" type="module"></script>
</body>

</html>