<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">

    <title>DCPM-Connexion</title>
    <meta name="description" content="A DCPM/trello client interface">
    <meta name="author" content="Dany CORBINEAU">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DCPM-Connexion</a>
    </nav>
    <div class="container" id='connexionform'>
        <h2>Connexion Trello</h2>
        <form id="fromtrello"  @submit="checkFormTrello">
            <div class="alert alert-danger" v-if="errors.length" role="alert">
                <b>Vous avez une ou des erreurs dans le formulaire :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="trelloKey">Clé</label>
                <input type="text" v-model="key" class="form-control" id="trelloKey" placeholder="clée trello">
            </div>
            <div class="form-group">
                    <label for="trelloToken">Jeton/Token</label>
                    <input type="text" v-model="token" class="form-control" id="trelloToken" placeholder="token trello">
                </div>
            <button id="connexion-trello" type="submit" class="btn btn-primary">Connexion Trello</button>
        </form>
        <hr/>
        <h2>Connexion DCPM</h2>
        <form id="fromdcpm"  @submit="checkFormDCPM">
            <div class="form-group">
                <label for="ServeurDCPM">Ip ou adresse du serveur DCPM</label>
                <input type="text" v-model="ip" class="form-control" id="ServeurDCPM" placeholder="service.dcpm.com">
            </div>
            <div class="form-group">
                    <label for="Login">Nom d'utilisateur ou adrese mail</label>
                    <input type="text" v-model="login" class="form-control" id="Login" placeholder="nom.prenom@dcpm.com">
            </div>
            <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" v-model="password" class="form-control" id="password" placeholder="***">
            </div>
            <button type="submit" class="btn btn-primary" id="connexion-dcpm">Connexion DCPM</button>
        </form>
    </div>
    <script src="../js/scripts.js" type="module"></script>
    <script src="./connexion.js" type="module"></script>
</body>

</html>